#header {
	background-color: #1B1636;
	color: aliceblue;
	margin-top: -35px;
	margin-left: -8px;
	margin-right: -8px;
}
#title {
	font-family: Bahnschrift;
	font-size: 50px;
	padding-top: 15px;
}
#soon {
	font-family: Bahnschrift;
	font-size: 20px;
	padding-bottom: 10px;
}
#page {
	background-color: #1E1A4B;
	font-family: Bahnschrift;
	color: aliceblue;
}
.contact {
	padding-left: 10px;
	padding-right: 10px;
}
#footer {
	background-color: #1B1636;
	color: aliceblue;
	margin-left: -8px;
	margin-right: -8px;
}